.sidebar {
    height: 2481px;
    width: 244px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    
}

.logo-instagram {
    padding-left: 2em;
    padding-top: 1em;
}

.navbar {
    height: auto;
    display: flex;
    justify-content: stretch;
}

.navbar a {
    color: inherit;
    text-decoration: none;
    display: block;
}

.navbar ul {
    text-decoration: none;
    list-style-type: none;
    padding-left: 1em;
}

.navbar li {
padding-top: 2em;
}

.navbar img {
    display: inline-block;
    margin-right: 1em;
    width: 24px;
    height: 24px;
    vertical-align: middle;
}
.navbar a:hover {
    font-size: 120%;
    transition: 0.2s;
    color: #262626;
}